@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-sans: "Inter", system-ui, sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, monospace;
}

* {
  border-color: theme("colors.blue.900");
}

body {
  background-color: theme("colors.blue.950");
  color: theme("colors.white");
  font-family: var(--font-sans);
}

::selection {
  background-color: theme("colors.purple.DEFAULT");
  color: theme("colors.white");
}

html {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

body {
  overflow-y: auto;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}
